<h1>My tasks</h1>

<ul>
<% @tasks.each do |t| %>
  <li>
    <%= form_for(t) do |f| %>
      <%= f.check_box :completed %>
    <% end %>
    <%= link_to t.title, task_path(t) %>-<%= link_to "Edit", edit_task_path(t) %>-<%= link_to "Delete",
    task_path(t),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"
    }%>
  </li>
<% end %>
</ul>


<%= link_to "Add new", new_task_path %>
